<header>
  <div class="collapse navbar-inverse navbar-collapse" id="bs-example-navbar-collapse-1">
    <%= link_to 'Social Login', root_path, class: 'navbar-brand' %>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Twitter', root_path %></li>
    </ul>
  </div>
</header>

<script>
   $('.dropdown-toggle').dropdown()
</script>